* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Nunito", sans-serif;
  }
  .navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid black;
  }
  nav {
    flex: 1;
    text-align: right;
  }
  nav ul {
    display: inline-block;
    list-style-type: none;
  }
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  a {
    text-decoration: none;
    color: #67595e;
  }
  p {
    color: #67595e;
  }
  
  .container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .col-2 {
    flex-basis: 50%;
    min-width: 300px;
  }
  
  .col-2 img {
    max-width: 100%;
    padding: 50px 0;
  }
  
  .col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
  }
  .btn {
    display: inline-block;
    background: #81b622;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
  }
  .viewBtn {
    width: 60%;
    display: inline-block;
    background: #81b622;
    color: #fff;
    padding: 8px 30px;
    border-radius: 30px;
    margin-left: 20%;
    margin-right: 20%;
    transition: background 0.5s;
    border: 0px;
  }
  .viewBtn:hover {
    cursor: pointer;
    background: #39adf5;
  }
  
  .btn:hover {
    background: #3d550c;
  }
  .header {
    background: radial-gradient(#fff, #b1d8b7);
  }
  .header .row {
    margin-top: 70px;
  }
  .categories {
    margin: 70px 0;
  }
  .col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
  }
  
  .col-3 img {
    width: 100%;
  }
  .small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 40px;
  }
  .col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
  }
  .col-4 img {
    width: 100%;
  }
  .card {
    border: 1px solid black;
  }
  .title {
    margin-bottom: 30px;
    text-align: center;
    position: relative;
    line-height: 60px;
    color: #2f5233;
  }
  
  .title::after {
    content: "";
    background: #b1d8b7;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
  }

.h4 {
    color: #4b5a20;
    font-weight: normal;
  }
  .col-4 p {
    font-size: 14px;
  }
  .rating .fa {
    color: #fede00;
  }
  .col-4:hover {
    transform: translateY(-5px);
  }
  .offer {
    background: radial-gradient(#fff, #b1d8b7);
    margin-top: 80px;
    padding: 30px 0;
  }
  .col-2 .offer-img {
    padding: 50px;
  }
  
  .small {
    color: #05445e;
  }
  
  .testimonial {
    padding-bottom: 40px;
  }
  .testimonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
  }
  .testimonial .col-3 img {
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
  }
  .testimonial .col-3:hover {
    transform: translate(-10px);
  }
  .fa.fa-quote-left {
    font-size: 34px;
    color: #18a558;
  }
  .col-3 p {
    font-size: 12px;
    margin: 12px 0;
    color: #868b8e;
  }
  
  .testimonial .col-3 h3 {
    font-weight: 600;
    color: #4e4f50;
    font-size: 16px;
  }
  
  ul {
    list-style: none;
  }
  /*footer*/
  .footer {
    /*left: 0;*/
    bottom: 0;
    width: 100%;
    height: 130px;
    padding: 30px 0;
    background: radial-gradient(#fff, #b1d8b7);
    border-top: 1px solid black;
  
    /*border: 2px solid black ;*/
  }
  
  .footer-row {
    max-width: 100%;
  }
  .footer-col {
    width: 25%;
    padding: 0 15px;
  }
  .footer-col h3 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
  }
  /*temp ko lagi*/
  
  .tmp-row {
    display: flex;
    border: 2px solid #a0e7e5;
  }
  
  .tmp-col {
    width: 50%;
    border: 2px solid black;
  }
  .tmp-plant-photo {
    text-align: center;
  }
  .tmp-plant-photo img {
    height: 500px;
    margin: 0 auto;
  }
  .tmp-plant-text {
    background: white;
    width: 80%;
    margin: 0 auto;
    margin-top: 6vh;
    justify-content: center;
    text-align: justify;
    padding: 0 1vw;
  }
  
  .tmp-btn {
    width: 80%;
    margin: 0 auto;
  }
  
  /*signup*/
  
  .change {
    height: 100vh;
    width: 100%;
    background: radial-gradient(#fff, #b1d8b7), url(signup.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    margin-bottom: 0px;
  }
  
  .form-box {
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: rgb(220, 220, 220);
    padding: 5px;
    overflow: hidden;
    overflow: hidden;
    box-shadow: 5px 10px;
    border: 1px solid black;
  }
  .button-row {
    text-align: center;
    padding-left: 10px;
  }
  
  .button-box {
    width: 220px;
    margin: 35px;
    position: relative;
    box-shadow: 0 0 15px 6px #94c973;
    border-radius: 30px;
    margin-left: 5vw;
  }
  .toggle-btn {
    padding: 15px 31px;
    position: center;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
  }
  
  #btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #b6e2d3, #ddffe7);
    border-radius: 50px;
    transition: 0.5s;
  }

  .social-icons {
    margin: 50px auto;
    text-align: center;
  }
  
  .social-icons img {
    width: 50px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
  }
  
  .input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border: 1px solid black;
    border-radius: 6px;
    background: transparent;
    padding-left: 4px;
  }
  
  .submit-btn {
    width: 85%;
    position: center;
    padding: 15px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #b6e2d3, #ddffe7);
    border: 0;
    outline: none;
    border-radius: 30px;
  }
  
  .check-box {
    margin: 30px 3px 30px 0;
  }
  
  #signin {
    left: 50px;
  }
  
  #signup {
    left: 450px;
  }
  /*for contactus*/
  .contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: radial-gradient(#fff, #b1d8b7);
    background-size: cover;
  }
  
  .contact .content {
    max-width: 800px;
    text-align: center;
  }
  
  .contact .content h2 {
    font-size: 36px;
    font-weight: 500;
  }
  
